.container {
  display: flex;
  //   justify-content: center;
}

.badge {
  text-transform: uppercase;
  border-radius: 16px;
  padding: 10px 20px;
  margin: 0px 10px;
  background-color: rgb(190, 213, 155);
}
